doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Fan-tienda de Videojuegos
  link(rel='stylesheet' href='CSS/estilo.css')
  body
    header
      h1 Fan-tienda de Videojuegos

    // Bloque donde se insertarán las vistas específicas
    block content
    img(src='/images/tu-imagen.jpg', alt='Descripción de la imagen')

    footer
      p © 2024 Tienda de Videojuegos
      script(src='./Tareas/carrito_pug/public/Js/script.js')
