doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Fan-tienda de Videojuegos
    link(rel='stylesheet' href='CSS/estilo.css')
  body
    header
      h1 Fan-tienda de Videojuegos

    // Bloque donde se insertarán las vistas específicas
    block content
      .selection-container
        label(for='platform') Seleccionar Plataforma:
        select#platform(name="platform" onchange='showGamesForCompany()')
          option(value='xbox') Xbox
          option(value='psp') PSP
          option(value='nintendo') Nintendo

      .platform-content
        h2 Selecciona una plataforma para ver los juegos disponibles.
        .card-container  <!-- Aquí se van a insertar las tarjetas de los juegos -->

    footer
      p © 2024 Tienda de Videojuegos
      script(src='Js/script.js')



