doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tienda de Videojuegos - Comprar Videojuegos
  link(rel='stylesheet' href='CSS/estilo.css')
body
  h1 Tienda de Videojuegos - Comprar
  .selection-container
    label(for='platform') Seleccionar Plataforma:
    select#platform(onchange='showPlatformContent()')
      option(value='xbox') Xbox
      option(value='psp') PSP
      option(value='nintendo') Nintendo

  // Secciones de tarjetas para cada plataforma
  // Xbox Section
  #xbox-content.platform-content
    h2 Comprar Videojuegos para Xbox
    .card-container
      .card
        img(src='Recursos/halo.jpg' alt='Halo')
        h3 Halo
        p Precio: $59.99
        button Comprar Ahora
      .card
        img(src='Recursos/forza.jpg' alt='Forza Horizon')
        h3 Forza Horizon
        p Precio: $49.99
        button Comprar Ahora
      .card
        img(src='Recursos/gears.jpg' alt='Gears of War')
        h3 Gears of War
        p Precio: $39.99
        button Comprar Ahora
      .card
        img(src='Recursos/fifa.jpg' alt='FIFA 2024')
        h3 FIFA 2024
        p Precio: $59.99
        button Comprar Ahora
      .card
        img(src='Recursos/cod.jpg' alt='Call of Duty')
        h3 Call of Duty
        p Precio: $69.99
        button Comprar Ahora

  // PSP Section
  #psp-content.platform-content(style='display: none;')
    h2 Comprar Videojuegos para PSP
    .card-container
      .card
        img(src='Recursos/gow.jpg' alt='God of War')
        h3 God of War
        p Precio: $29.99
        button Comprar Ahora
      .card
        img(src='Recursos/tekken.jpg' alt='Tekken')
        h3 Tekken
        p Precio: $19.99
        button Comprar Ahora
      .card
        img(src='Recursos/fifa.jpg' alt='FIFA 2024')
        h3 FIFA 2024
        p Precio: $24.99
        button Comprar Ahora
      .card
        img(src='Recursos/gta.jpg' alt='GTA: Liberty City')
        h3 GTA: Liberty City
        p Precio: $34.99
        button Comprar Ahora
      .card
        img(src='Recursos/assassins.jpg' alt="Assassin's Creed")
        h3 Assassin's Creed
        p Precio: $29.99
        button Comprar Ahora

  // Nintendo Section
  #nintendo-content.platform-content(style='display: none;')
    h2 Comprar Videojuegos para Nintendo
    .card-container
      .card
        img(src='Recursos/mariokart.jpg' alt='Mario Kart')
        h3 Mario Kart
        p Precio: $49.99
        button Comprar Ahora
      .card
        img(src='Recursos/zelda.jpg' alt='Zelda: Breath of the Wild')
        h3 Zelda: Breath of the Wild
        p Precio: $59.99
        button Comprar Ahora
      .card
        img(src='Recursos/animal.jpg' alt='Animal Crossing')
        h3 Animal Crossing
        p Precio: $39.99
        button Comprar Ahora
      .card
        img(src='Recursos/ssb.jpg' alt='Super Smash Bros')
        h3 Super Smash Bros
        p Precio: $59.99
        button Comprar Ahora
      .card
        img(src='Recursos/splatoon.jpg' alt='Splatoon')
        h3 Splatoon
        p Precio: $44.99
        button Comprar Ahora
    
  script(src='JS/script.js')
